.rb-page[data-book-page="heart"]{--rb-top:15%;--rb-bottom:13%;--rb-heading:12%;--rb-loadout:25%;--rb-library-width:49%}
.rb-page[data-book-page="technique"]{--rb-top:15%;--rb-bottom:13%;--rb-heading:12%;--rb-loadout:25%;--rb-library-width:49%}
.rb-page[data-book-page="body"]{--rb-top:15%;--rb-bottom:13%;--rb-heading:12%;--rb-loadout:25%;--rb-library-width:49%}
.rb-page[data-book-page="items"]{--rb-top:15%;--rb-bottom:13%;--rb-heading:12%;--rb-loadout:25%;--rb-library-width:49%}
